{
  "release": {
    "start_month": 5,
    "start_day": 1,
    "end_month": 3,
    "end_day": 31
  },
  "fiscal_year": {
    "start_month": 7,
    "start_day": 1
  },
  {
  "additional_holidays": [
    "2026-12-24",
    "2026-12-31"
  ]
  }
}